PORT=port number for the server to listen on
DB_NAME=database name
DB_USER= username
DB_PASSWORD=username
DB_HOST=host of the db
DB_PORT=port of the db
DB_DIALECT=db language
JWT_SECRET=secret key for signing JWT tokens, change this in production